<div class="events">
	<h1><%= title %></h1>
	<% if events.empty? %>
		<span class="empty"><%= empty_text %></span>
	<% else %>
		<ul>
			<% events.each do |text, date| %>
				<li><span class="date"><%= date.strftime '%a, %-d %b' %></span> <%= text %></li>
			<% end %>
		</ul>
	<% end %>
</div>
